body,
html {
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.loader {
    background-color: #bc73ce;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center
}

.loader img {
    width: 220px
}

.center {
    text-align: center
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1680px
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer
}

h1 {
    text-align: center;
    font-size: 2.5rem
}

.st h3 {
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin: 0
}

.s1 {
    background-color: #ab14e7;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 675px;
    max-height: 730px;
    position: relative
}

.features img {
    width: 125px
}

img {
    width: 500px
}

.left p {
    width: 70%;
    font-size: 1.4rem;
    margin-bottom: 16px;
    margin-top: 10px
}

.left {
    width: 40%;
    z-index: 3
}

.st {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 180px
}

.cursor {
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: -303px;
    left: 48%;
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes shake {

    0%,
    100% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-5px)
    }

    75% {
        transform: translateY(5px)
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-5px)
    }

    75% {
        transform: translateY(5px)
    }
}

[data-aos] {
    visibility: hidden;
    pointer-events: all
}

[data-aos].animated {
    visibility: visible
}

[data-aos].d1 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

[data-aos].d2,
[data-aos].s2 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

[data-aos].d3,
[data-aos].s3 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

[data-aos].v4 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.t5 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

[data-aos].d4 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

[data-aos].d7 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.t1 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.st::after {
    content: "";
    width: 100%;
    height: 100%;
    min-height: 675px;
    position: absolute;
    top: 5px;
    right: -10px;
    background-image: url(/img/bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1)
}

.st::before {
    content: "";
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: -5px;
    left: -10px;
    background-image: url(/img/hemicircle.svg);
    background-repeat: no-repeat;
    background-size: contain
}

.btn-contact {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #00f;
    color: #f0f0f0;
    font-size: 1.3rem;
    margin-top: 10px;
    transition: all .2s, background .5s;
    box-shadow: 2px 2px 5px #00000070
}

.btn-contact:hover {
    background-color: #7600d6;
    box-shadow: 5px 5px 8px #0000009e
}

.btn-contact:active {
    transform: translateY(4px);
    box-shadow: 2px 2px 8px #00000070
}

.image {
    z-index: 2
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0 2px 7px #000000bf;
    background-color: #a53eec
}

.navallign {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav ul {
    list-style: none;
    display: flex
}

#myMenu li {
    margin: 0 37px
}

#myMenu li a {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: all .4s;
    color: #d4d4d4
}

.nav span {
    cursor: pointer;
    font-size: 3.5rem;
    line-height: 55px;
    color: #ffffffc4;
    display: none;
    position: absolute;
    right: 30px;
    top: 4px
}

.logo {
    display: inline-block
}

.features ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 0 0
}

.features ul li {
    flex-basis: 200px;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 3px 10px 0 #8d8686db;
    padding: 2%;
    padding-bottom: 1%;
    transition: all .4s;
    border: 1px solid #fff;
    background-color: #fff;
    z-index: 2
}

.features {
    padding: 70px 0;
    background-color: #fff;
    position: relative;
    background-image: url(../img/pent.svg), url(../img/drawkit-notebook-man-monochrome.svg);
    background-repeat: no-repeat;
    background-position: bottom left, 108% -30px
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: #333232bf
}

h2::after {
    content: " ";
    display: block;
    width: 170px;
    height: 3px;
    margin: 10px auto;
    background-color: #a53eec
}

.about {
    background-color: #aa7af3;
    padding: 50px 10px
}

.aboutLeft {
    padding: 19px;
    border: 2px solid transparent;
    box-shadow: inset 1px 1px 10px #000;
    transition: all .4s
}

.aboutLeft img {
    width: 450px
}

.aboutPara {
    padding-left: 50px
}

.contPara {
    font-size: 1.3rem;
    word-spacing: 1.3px;
    line-height: 36px
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b68ee;
    box-shadow: 1px 2px 10px #2e2d2d;
    margin: 0 auto;
    padding: 50px;
    max-width: 1390px
}

.visionContent {
    display: flex;
    align-items: center;
    padding: 100px 0 100px 60px;
    background-color: #fff8dc;
    position: relative
}

.vision {
    padding: 70px 10px;
    position: relative;
    width: 72%;
    max-width: 1420px;
    margin: 0 auto;
    margin-left: 10%
}

.vision::before {
    content: "";
    background-image: linear-gradient(#000, rgba(14, 1, 1, .575)), url(../img/visionBg.webp);
    opacity: .8;
    background-size: cover;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1
}

.visionRight {
    padding: 90px;
    box-shadow: 1px 2px 10px #3a3939;
    position: absolute;
    top: 8%;
    right: -17%;
    background-color: #fff8dc;
    border-radius: 50%
}

.visionLeft {
    margin-right: 18rem
}

.visionRight img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover
}

.staffSection {
    background-color: #7032e2;
    padding: 60px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box
}

.staffBack {
    background-color: #f8f7e2;
    padding: 5%
}

.staffContent {
    box-shadow: inset 0 0 4px 5px rgb(0 0 0 / 71%);
    margin: 0 auto;
    padding: 40px 50px 60px;
    background-color: #edeaf999;
    position: relative
}

.staffContent::after {
    content: "";
    width: 300px;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 28%;
    right: 1%;
    opacity: .2;
    z-index: 1;
    background-image: url(../img/schoolbooks-monochrome.svg)
}

.staffContent::before {
    content: "";
    width: 350px;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 4%;
    left: 1%;
    opacity: .2;
    z-index: 1;
    background-image: url(../img/entryway-monochrome.svg)
}

.staffContent h2 {
    color: rgb(0 0 0 / 75%)
}

.staffArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 70px
}

.staff {
    margin: 30px 20px 60px;
    padding: 20px 15px;
    height: 143px;
    display: flex;
    flex-direction: column;
    flex-basis: 14%;
    min-width: 220px;
    background-color: #fff;
    box-shadow: 3px 4px 15px 0 #1b1b1cbf;
    border: 1px solid #090368;
    border-top: 15px solid #00f;
    border-radius: 10px 10px 35px 35px;
    z-index: 6
}

.staff:hover {
    height: 310px
}

.projectdes {
    margin-top: -200px;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
    transition: .3s ease-in-out
}

.staff:hover .projectdes {
    visibility: visible;
    opacity: 1;
    margin-top: -145px;
    transition-delay: .4s
}

.staff img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    left: 33px;
    border: 5px solid rgb(238 236 239);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 6px #0000006e
}

.projectimg {
    position: relative;
    top: -110px;
    left: 0
}

.showbar {
    background-color: #00f;
    color: #fff;
    width: 232px;
    left: -16px;
    top: -7px;
    z-index: 6;
    position: relative;
    border-radius: 0 0 30px 30px;
    padding: 8px 10px;
    transition: .3s ease-in-out
}

.staff:hover .showbar {
    visibility: hidden;
    opacity: 0
}

.staffName {
    font-size: 1.3rem;
    margin-top: 11px;
    margin-bottom: 0;
    opacity: .7
}

.staffSub {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: .7;
    margin-top: 8px
}

.projectFlex {
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px
}

.projectFlex a {
    font-size: 1.8rem
}

.projectdes .facebook i:active,
.projectdes .facebook i:hover {
    color: #3b5999;
    transform: scale(1.2)
}

.projectdes .instagram i:active,
.projectdes .instagram i:hover {
    color: #bc2a8d;
    transform: scale(1.2)
}

.projectdes .linkedin i:active,
.projectdes .linkedin i:hover {
    color: #0077b5;
    transform: scale(1.2)
}

.projectdes .gmail i:active,
.projectdes .gmail i:hover {
    color: #ea4335;
    transform: scale(1.2)
}

.staffEdu {
    font-size: .9rem;
    text-transform: uppercase;
    line-height: 25px;
    word-spacing: 3px;
    font-weight: 500
}

.carousal {
    background-color: #fff;
    padding: 10px;
    height: 80vh
}

.carDiv {
    background-color: teal
}

.carDiv p {
    font-size: 16px
}

.carcon {
    width: 70%;
    padding: 50px 1%;
    margin: 0 auto;
    background-color: #fff
}

.contact {
    background-color: #a024da;
    padding-top: 2%;
    position: relative
}

.contact h2 {
    color: #dadada
}

.contact h2::after {
    background-color: #4d077d
}

.contactWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 70px 0
}

.flexDiv {
    flex-basis: 40%
}

input,
select,
textarea {
    color: #e9e6e6;
    font-size: 15px
}

:focus {
    outline: 0
}

.inner {
    background: rgba(160, 36, 218, .96);
    border: 10px solid #54077a;
    padding: 65px 65px 50px;
    box-shadow: 5px 5px 10px rgb(86 84 84 / 81%)
}

textarea {
    resize: none
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 48px
}

.form-group span {
    font-size: .94rem;
    color: #fcf9f9;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text
}

.form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff
}

.form-control {
    border: none;
    border-bottom: 2px solid #3f015e;
    display: block;
    width: 100%;
    height: 43px;
    font-size: .94rem;
    background: 0 0
}

.form-control:focus,
.form-control:valid {
    border-bottom: none
}

.form-control:focus+span,
.form-control:valid+span {
    transform: translateY(-22px) scale(.8)
}

.form-control:focus+span+.border,
.form-control:valid+span+.border {
    transform: scaleX(1)
}

textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px
}

.contact button {
    border: 2px solid #fcf9f9;
    margin-top: -40px;
    cursor: pointer;
    padding: 13px 30px;
    background: 0 0;
    color: #fcf9f9;
    text-transform: uppercase;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: .3s
}

.contact button i {
    margin-left: 10px;
    transform: translateZ(0);
    transition-duration: .1s;
    transition-property: transform;
    transition-timing-function: ease-out
}

.contact button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7906b3;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out
}

.contact button:hover {
    border-color: transparent
}

.contact button:hover:before {
    transform: scaleX(1)
}

.contact button:hover i {
    transform: translateX(4px)
}

footer {
    text-align: center;
    position: relative;
    height: 60px;
    clear: both;
    background-color: #414141;
    padding: 10px 0;
    color: #fff
}

footer p {
    word-spacing: 2px;
    line-height: 1px
}

footer a {
    color: #afafaf
}

.row {
    width: 100%;
    background-color: #363636;
    color: #a3a3a3;
    padding: 10px 0
}

.production {
    text-align: center;
    margin: 0;
    word-spacing: 7px;
    letter-spacing: 5px;
    font-size: .9rem
}

.btn-mission {
    display: inline-block;
    margin-left: 15px;
    padding: 9px 25px;
    border-radius: 50px;
    color: #dfdfdf;
    font-size: 1.3rem;
    margin-top: 10px;
    border: 4px solid #00f;
    transition: all .2s, background .5s, border .5s
}

.btn-mission:hover {
    background-color: #7600d6;
    border: 4px solid #d400ff;
    box-shadow: 1px 3px 8px #00000057;
    color: #ebebeb
}

.btn-mission:active {
    transform: translateY(4px);
    background-color: #7600d6;
    box-shadow: none
}

.logo img {
    width: 160px
}

.features ul li:hover {
    box-shadow: none;
    border: 1px solid rgba(145, 143, 143, .425)
}

#myMenu li a:active,
#myMenu li a:hover {
    color: #000
}

.contact::after {
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    position: absolute;
    background-repeat: no-repeat;
    top: -24%;
    left: 61px;
    opacity: .6;
    z-index: 1;
    background-image: url(/img/contactUs.svg)
}

.leftSide {
    z-index: 3;
    min-width: 490px
}

.staffBack {
    background-image: url(../img/staffbg.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat
}

.about {
    background-image: url(../img/circle.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 14%
}

img.imgexp {
    width: 162px
}

.verticallogo {
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: -80px
}

.rightSide {
    z-index: 2
}

.rightSide a,
.rightSide p {
    font-size: 1.2rem
}

.contactinfo {
    text-align: center
}

.address {
    font-weight: 400;
    margin-top: 24px;
    margin-left: 18px
}

.rightSide i {
    font-size: 1.5rem
}

.rightSide a {
    transition: all .4s
}

.rightSide a:hover {
    color: #e6e0e0
}

.address span {
    margin-top: 10px;
    display: block
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media print,
(prefers-reduced-motion:reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important
    }

    .animated[class*=Out] {
        opacity: 0
    }
}

@-webkit-keyframes backInLeft {
    0% {
        transform: translateX(-2000px) scale(.7);
        opacity: .7
    }

    80% {
        transform: translateX(0) scale(.7);
        opacity: .7
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes backInLeft {
    0% {
        transform: translateX(-2000px) scale(.7);
        opacity: .7
    }

    80% {
        transform: translateX(0) scale(.7);
        opacity: .7
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

.backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.animatedWait {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes bounceInLeft {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0) scaleX(3)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0) scaleX(1)
    }

    75% {
        transform: translate3d(-10px, 0, 0) scaleX(.98)
    }

    90% {
        transform: translate3d(5px, 0, 0) scaleX(.995)
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInLeft {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0) scaleX(3)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0) scaleX(1)
    }

    75% {
        transform: translate3d(-10px, 0, 0) scaleX(.98)
    }

    90% {
        transform: translate3d(5px, 0, 0) scaleX(.995)
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}

@-webkit-keyframes bounceInRight {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0) scaleX(3)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0) scaleX(1)
    }

    75% {
        transform: translate3d(10px, 0, 0) scaleX(.98)
    }

    90% {
        transform: translate3d(-5px, 0, 0) scaleX(.995)
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInRight {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0) scaleX(3)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0) scaleX(1)
    }

    75% {
        transform: translate3d(10px, 0, 0) scaleX(.98)
    }

    90% {
        transform: translate3d(-5px, 0, 0) scaleX(.995)
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight
}

@-webkit-keyframes joomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes joomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

.joomInUp {
    -webkit-animation-name: joomInUp;
    animation-name: joomInUp
}

@-webkit-keyframes joomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes joomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.joomIn {
    -webkit-animation-name: joomIn;
    animation-name: joomIn
}

@-webkit-keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    transform-origin: center
}

@-webkit-keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }

    to {
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
    }

    to {
        transform: perspective(400px)
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}

div.staff {
    transition: .3s ease-in-out !important
}

.aboutLeft:hover {
    box-shadow: none;
    border: 2px solid #000
}

.slide {
    right: 0 !important
}

@media only screen and (min-width:1875px) {
    .vision {
        margin-left: auto
    }

    .visionRight {
        top: 5%
    }

    .staffContent {
        padding: 80px 50px
    }
}

@media only screen and (max-width:1523px) {
    .visionRight {
        top: 10%
    }
}

@media only screen and (max-width:1410px) {
    .visionRight {
        top: 5%
    }

    .visionContent {
        padding: 50px 0 50px 60px
    }
}

@media only screen and (max-width:1280px) {
    .visionRight {
        top: 13%
    }

    .visionRight img {
        width: 200px;
        height: 200px
    }
}

@media only screen and (max-width:1213px) {
    .visionRight {
        top: 7%;
        right: -10%
    }

    .vision {
        width: 90%;
        margin-left: 0
    }

    .features .wrapper {
        width: 100%
    }

    .features ul li {
        flex-basis: 180px
    }

    .flexDiv {
        flex-basis: auto
    }

    .leftSide {
        width: 50%
    }

    .rightSide {
        width: 34%;
        margin-left: 20px
    }
}

@media only screen and (max-width:1134px) {
    .visionRight {
        top: 8%;
        right: -12%
    }

    .contPara {
        line-height: 33px
    }

    .aboutLeft img {
        width: 370px
    }

    .contact::after {
        top: -26%;
        left: -59px
    }

    .staff {
        min-width: 185px;
        height: 161px
    }

    .staff:hover {
        height: 370px
    }

    .showbar {
        width: 197px
    }

    .staff img {
        width: 135px;
        height: 135px;
        left: 21px
    }

    .st {
        justify-content: space-around
    }
}

@media only screen and (max-width:1110px) {
    .image img {
        width: 428px
    }
}

@media only screen and (max-width:1025px) {
    .visionRight {
        top: 10.5%;
        right: -13%
    }
}

@media only screen and (max-width:985px) {
    .visionRight {
        top: 13%;
        right: -13%
    }

    .aboutContent {
        padding: 31px
    }

    .features ul li {
        flex-basis: 200px;
        margin: 17px 10px
    }

    .features {
        background-size: 25%, 70%;
        background-position: top left, 362px 344px
    }
}

@media only screen and (max-width:950px) {
    .visionRight {
        position: initial;
        margin-top: -235px
    }

    .visionContent {
        padding: 50px 20px 35px;
        flex-direction: column-reverse
    }

    html {
        font-size: 80%
    }

    .visionLeft {
        margin-top: 2rem;
        margin-right: 0;
        text-align: center
    }

    .vision {
        margin-left: auto;
        width: 81%;
        padding-top: 220px
    }

    .aboutLeft img {
        width: 345px
    }

    .staffSub {
        margin-bottom: 24px
    }

    .staff:hover {
        height: 280px
    }

    .staff {
        height: 128px
    }

    .features {
        background-size: 25%, 638px;
        background-position: top left, 130% 264px
    }

    .contact::after {
        top: -29%;
        left: -121px;
        transform: scale(1.2)
    }

    footer {
        height: 44px
    }

    .logo img {
        width: 130px
    }

    .image img {
        width: 380px
    }

    .st {
        padding-top: 215px
    }
}

@media only screen and (max-width:920px) {
    .staffContent::after {
        top: 52%
    }

    .staff {
        margin: 55px 20px
    }

    .staff:nth-child(2) {
        margin-bottom: 30px;
        margin-top: 55px
    }

    .staffBack {
        background-position: top left;
        background-size: 1500px
    }
}

@media only screen and (max-width:885px) {
    .features .wrapper {
        width: 95%
    }

    .aboutLeft img {
        max-height: 350px
    }

    .aboutContent {
        flex-wrap: wrap;
        width: 75%
    }

    .aboutPara {
        padding-left: 0;
        text-align: center;
        margin-top: 28px
    }

    .aboutLeft {
        width: 90%;
        display: flex;
        justify-content: center
    }

    .about {
        background-size: 191px
    }
}

@media only screen and (max-width:877px) {
    .verticallogo {
        margin-top: 55px
    }

    .rightSide {
        width: 70%;
        text-align: center;
        margin-left: 0
    }

    .address {
        margin-left: 0
    }

    .contactWrapper {
        padding-bottom: 40px
    }

    .contact::after {
        transform: scale(1.2);
        top: -10%;
        left: -132px
    }
}

@media only screen and (min-device-width:481px) and (max-device-width:1024px) {
    .s1 {
        background-color: #8c40c4
    }

    .nav {
        background-color: #993fd8
    }

    .contact {
        background-color: #8c40c4
    }

    .inner {
        background-color: #902ed8
    }
}

@media only screen and (max-width:845px) {
    .nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 42px;
        right: -111%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
        display: block
    }

    #myMenu li:first-of-type {
        margin-top: 80px
    }

    #myMenu li {
        border-bottom: 1px solid #021030;
        margin: 0
    }

    #myMenu li a {
        display: block;
        padding: 0;
        transition: all .5s;
        color: #d4d4d4;
        line-height: 70px;
        height: 65px;
        font-weight: 400;
        width: 100%;
        font-size: 1.4rem
    }

    .logo {
        height: 55px;
        line-height: 90px
    }

    .nav li a:hover {
        background: #b6b6b9
    }

    .nav span {
        display: block
    }
}

@media only screen and (max-width:790px) {
    .st {
        flex-direction: column-reverse;
        padding-top: 100px
    }

    .wrapper {
        width: 95%
    }

    .left {
        width: 90%;
        text-align: center;
        margin-bottom: 126px;
        margin-top: 50px
    }

    .cursor {
        bottom: -359px
    }

    .left p {
        width: 65%;
        font-size: 1.4rem;
        margin: 10px auto;
        display: block
    }

    .st::before {
        height: 23%
    }

    .st::after {
        background-image: url(/img/hemicircle.svg)
    }

    .st::after {
        height: 24%;
        min-height: 100px;
        position: absolute;
        top: 5px;
        right: -10px;
        background-image: url(/img/hemicircle.svg);
        transform: scale(-1)
    }

    .s1 {
        height: 100%;
        max-height: none
    }

    .features {
        background-size: 25%, 520px;
        background-position: top left, 140% 366px
    }

    .inner {
        box-shadow: 5px 5px 10px rgb(0 0 0 / 47%)
    }
}

@media only screen and (max-width:650px) {
    .left .fadeInDown {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp
    }

    .staffBack {
        padding: 4%
    }

    .staffSection {
        padding: 45px;
        width: 100%
    }

    .st::after {
        right: -4px
    }

    .visionRight {
        padding: 70px
    }
}

@media only screen and (max-width:560px) {
    .vision {
        width: 96%
    }

    .aboutContent {
        width: 86%
    }

    .leftSide {
        min-width: 250px;
        width: 90%
    }
}

@media only screen and (max-width:525px) {
    .features {
        background-size: 37%, 520px;
        background-position: -1px 131px, 17px 727px
    }

    .staffBack {
        background-size: 1300px
    }

    [data-aos].d1,
    [data-aos].d2,
    [data-aos].d3,
    [data-aos].d4,
    [data-aos].d7 {
        -webkit-animation-delay: .4s;
        animation-delay: .4s
    }

    [data-aos].s3 {
        -webkit-animation-delay: .6s;
        animation-delay: .6s
    }

    [data-aos].v4 {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s
    }

    .loader img {
        width: 155px
    }

    .s1 {
        background-color: #8c40c4
    }

    .nav {
        background-color: #993fd8
    }

    .contact {
        background-color: #8c40c4
    }

    .inner {
        background-color: #902ed8
    }

    .vision::before {
        background-image: linear-gradient(#000, rgba(14, 1, 1, .575)), url(../img/smallVisionBg.webp)
    }
}

@media only screen and (max-width:482px) {
    .staffContent::before {
        width: 90%;
        left: 0
    }

    .logo img {
        width: 125px
    }

    .logo {
        line-height: 90px;
        margin-left: 2px
    }

    .staffContent::after {
        width: 270px
    }

    .nav span {
        right: 5%;
        top: 3px
    }

    .inner {
        padding: 55px 40px 40px
    }

    .staff {
        margin-top: 30px
    }

    .staffSection {
        padding: 20px;
        width: 100%
    }

    .cursor {
        left: 44%
    }

    .staffBack {
        padding: 5% 3%
    }

    .aboutContent {
        margin: 0 auto;
        width: auto
    }

    .features ul li {
        flex-basis: 60%;
        padding: 9%;
        margin: 20px 10px;
        border-radius: 15px
    }

    .features img {
        width: 170px
    }

    img.imgexp {
        width: 200px
    }

    .features {
        background-size: 200px, 450px;
        background-position: -1px 64px, 62px 1310px
    }

    .projectFlex a {
        font-size: 1.9rem;
        margin: 0 12px
    }
}

@media only screen and (max-width:460px) {
    .vision .contPara {
        line-height: 32px;
        margin-bottom: 0
    }

    .visionContent {
        padding: 50px 30px;
        position: static
    }

    .features {
        background-size: 200px, 450px;
        background-position: -1px 64px, 0 1310px
    }

    .vision {
        width: auto
    }

    .visionRight {
        padding: 60px;
        margin-top: -200px
    }

    .visionRight img {
        width: 180px;
        height: 180px
    }

    .aboutLeft img {
        width: 270px
    }

    .leftSide {
        width: 97%
    }

    .rightSide {
        width: 85%
    }

    .contact::after {
        transform: scale(1);
        top: -16%;
        left: -146px;
        width: 452px
    }
}

@media only screen and (max-width:419px) {
    .image img {
        width: 295px
    }

    .left {
        margin-bottom: 110px;
        margin-top: 26px;
        width: auto
    }

    .cursor {
        bottom: -305px
    }

    .left p {
        width: 80%;
        font-size: 1.5rem;
        margin-bottom: 10px
    }

    .features li h4 {
        font-size: 1.4rem;
        margin: 15px auto 10px
    }

    .features li p {
        font-size: 1.15rem
    }

    .features {
        background-position: -1px 64px, 46% 103%
    }

    .btn-contact {
        padding: 12px 22px
    }

    .vision .contPara {
        word-spacing: inherit
    }

    .st {
        padding-top: 85px
    }

    .inner {
        padding: 40px 35px
    }

    .production {
        word-spacing: 0;
        letter-spacing: 4px;
        font-size: .8rem
    }

    footer {
        height: 37px;
        font-size: 80%
    }
}

@media only screen and (max-width:330px) {
    .image img {
        width: 245px
    }

    .st h3 {
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: 700;
        margin: 0
    }

    .left p {
        width: 90%;
        font-size: 1.3rem
    }

    .features img {
        width: 200px
    }

    .cursor {
        width: 40px;
        bottom: -276px;
        left: 43%
    }

    .nav ul {
        right: -112%
    }

    .about {
        padding: 50px 0
    }

    .aboutLeft img {
        width: 213px
    }

    .contPara {
        line-height: 30px;
        word-spacing: 0
    }

    .aboutContent {
        padding: 17px
    }

    .vision {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px
    }

    .staffBack {
        padding: 0
    }

    .staffSection {
        padding: 10px
    }

    .staffContent::after,
    .staffContent::before {
        width: 249px
    }

    .visionRight img {
        width: 160px;
        height: 160px
    }
}